:root {
  --cor-fonte: rgba(255, 255, 255,0.9);
  --cor-defundo: #171717;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--cor-fonte);
  
}

body {
  background-color: var(--cor-defundo);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
